name: Build Expo APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Build APK with EAS
        run: npx expo export && npx expo prebuild && npx eas build -p android --local --output ./app.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: smrki-apk
          path: app.apk
